* {
    box-sizing: border-box;
}
body {
    text-align: center;
    color: #fff;
    display: block;
}
.container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
header {
    background-color: rgb(231, 48, 48);
}
.left {
    background-color: green;
    flex-basis: 20%;
}
main {
    flex-basis: 60%;
    background-color: skyblue;
}
.right {
    flex-basis: 20%;
    background-color: pink;
}
footer {
    background-color: plum;
}

@media screen and (max-width: 992px) {
    .container {
		width: 50%;
	}
}
@media screen and (max-width: 768px) {
    .container {
		width: 100%;
	}
}
@media screen and (max-width: 480px) {
    .container {
		width: 100%;
	}
}